/* google fonts  */
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Manrope:wght@400;500;600;700;800&display=swap');



/* css variable declared  */

:root {
    --font1: 'Berkshire Swash', cursive;
    --font2: 'Manrope', sans-serif;
    --heading-text-color: #FF5E19;
    --btn-color: #015196;
    --card-text-color: #B3B3B3;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000000;
}

header {
    min-height: 50vh;
    width: 100%;
    overflow: hidden;

}

header .left-side {
    background: url("./images/path56.png");
}

.heading-text {
    font-family: var(--font1);
    font-weight: 400;
    color: var(--heading-text-color);
    font-size: 4em;
}

.right-bottom {
    background: url("./images/rectangle.png");
}

/* main part card  */

.card {
    font-family: var(--font2);
}

.card,
.card img {
    border-radius: 0;
}

.card img {
    height: 150px;
}

.card-body {
    background-color: #000000;
}

.card-body h5 {
    font-weight: 800;
}

.card-body p {
    font-weight: 400;
    color: #B3B3B3;
}

.button {
    font-weight: 700;
    padding: 10px 80px;
    background-color: var(--btn-color);
}

/* dom part  */
.bottom {
    padding: 10px;
}


.dom-part .top,
.dom-part .bottom {
    background-color: #0D0D0D;
}

.dom-part .top {
    height: 300px;
}

.dom-part .bottom p {
    color: #AFAFAF;
    font-family: var(--font2);
    font-weight: 400;
}

.button {
    width: 100%;
    padding: 10px;
    background-color: var(--btn-color);
    font-family: var(--font2);
    font-weight: 700;
}

.coach-field {
    /* width: 118px; */
}

.coach {
    gap: 64px;
}

button {
    font-family: var(--font2);
    font-weight: 700;
}

input {
    padding: 5px;
    background-color: #0D0D0D;
    color: white;
    border: 1px solid white;
}

.dom-part .bottom .total-part .total-amount,
.dom-part .bottom .total-part .total-amount>span {
    color: #FF5E19;
}